body{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

p, a, h5, small{
    margin: 0;
}

a:hover{
    cursor: pointer;
}


.main-notice-container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 60%;
}




.main-btn-container{
    /* display: flex; */
    justify-content: space-around;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    min-width: 400px;
}

.main-btn-container button{
    width: 300px;
}





.nav-container{
    padding: 0 50px 0 50px;
}

.nav-item{
    padding: 0 10px 0 10px;
}

.nav-item i{
    font-size: 1.5em;
}

.navbar-nav .dropdown-menu{
    left: -40px;
}

.main-notice-container p{
    font-size: 0.9 em;
}

.main-btn-contaier button{
    min-width: 220px;
}

.ad{
    width: 500px;
    height: 300px;
    background-color: aquamarine;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.main-forum-preview-title a{
    font-size: 12px;
}

.main-forum-preview-title{
    padding-top: 12px;
    padding-bottom: 3px;

    border-radius: 5px;
}

.thumbnail-container{
    width: 200px;
    height: 112.5px;
    background-color: blueviolet;
}

.thumbnail-container img{
    width: 200px;
    height: 112.5px;
}

.checkbox-btn{
    appearance: none;
}


.checkbox-btn-label:hover{
    cursor: pointer;

    color: var(--bs-secondary-color)
}

.page-title{
    margin: 30px;
    font-weight: bolder;
}

.search-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.search-container input{
    border-color: var(--bs-body-color);
}

.content-container{
    width: 90%;
    max-width: 1600px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;;
}

.content-container a{
    font-size: 14px;
}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: var(--bs-body-color) !Important;
    border: solid 1px var(--bs-body-color) !Important;
}

.pagination > .active > a:hover,
.pagination > .active > a:focus
{
    background-color: var(--bs-secondary-color) !Important;
    border: solid 1px var(--bs-secondary-color) !Important;
    color: white;

}