body{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

p, a, h5{
    margin: 0;
}

a:hover{
    cursor: pointer;
}


.main-notice-container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}




.main-btn-container{
    /* display: flex; */
    justify-content: space-around;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    min-width: 400px;
}

.main-btn-container button{
    width: 300px;
}





.nav-container{
    padding: 0 50px 0 50px;
}

.nav-item{
    padding: 0 10px 0 10px;
}

.nav-item i{
    font-size: 1.5em;
}

.navbar-nav .dropdown-menu{
    left: -40px;
}

.main-notice-container p{
    font-size: 0.9 em;
}

.main-btn-contaier button{
    min-width: 220px;
}

.ad{
    width: 500px;
    height: 300px;
    background-color: aquamarine;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.main-forum-preview-title a{
    font-size: 12px;
}

.main-forum-preview-title{
    padding-top: 12px;
    padding-bottom: 3px;

    border-radius: 5px;
}

.thumbnail-container{
    width: 200px;
    height: 112.5px;
    background-color: blueviolet;
}

.thumbnail-container img{
    width: 200px;
    height: 112.5px;
}

.frame-list-right {
    width:106.98px
}

.checkbox-btn{
    appearance: none;
}


.checkbox-btn-label:hover{
    cursor: pointer;

    color: var(--bs-secondary-color)
}

